/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab", "Roboto" serif;
}
img {
	object-fit: cover;
}

label,
input,
select {
	margin-bottom: 12px;
	font-family: "Roboto";
}
input[type="submit"] {
	margin-top: 20px;
}
h1,
h2 {
	margin: auto;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
h1.title {
	color: cadetblue;
}
h2.form-title {
	color: darkcyan;
	font-size: 22px;
	margin-top: 10px;
	font-family: "Roboto";
}
td {
	height: 70px !important;
	vertical-align: middle;
}
